## Getting BRC sensor data into UBAIR database for website

#### Inventory
We have the following **12** stations currently showing on the ubair.usu.edu website:
* Dinosaur National Monument
* Red Wash
* Rangely
* Seven Sisters
* Horsepool
* Ouray
* Vernal
* Dry Fork
* Whiterocks
* Roosevelt
* Myton
* Castle Peak

#### Where to find the data
There are 7 stations we can get from Synoptic Weather. 

| Synoptic Site Name | Location       |
|--------------------|----------------|
| QV4               | Vernal         |
| A3822             | Dinosaur NM    |
| A1633             | Redwash        |
| A1622             | Ouray          |
| QRS               | Roosevelt      |
| A1388             | Myton          |
| A1386             | Whiterocks     |

##### Rangely
Rangely is difficult and needs to be scraped from this URL:

https://www.colowhiteriverairquality.net/monitoring-sites/rangely-station.html

##### CS sites
We have a campbelldataextract.py template to get the data from the Campbell Scientific data loggers. Seth states this is for Horsepool, Seven Sisters, Roosevelt, and Castle Peak; but we seem to have Roosevelt already from Synoptic Weather.

##### Dry Fork
This is scraped from weather underground - see airnowdataextraction.

### Summary table of data sources per station name
| Station Name | Data Source                  |
|--------------|------------------------------|
| Dinosaur National Monument | Synoptic Weather             |
| Red Wash | Synoptic Weather             |
| Rangely | Colowhiteriverairquality.net |
| Seven Sisters | Campbell Scientific          |
| Horsepool | Campbell Scientific          |
| Ouray | Synoptic Weather             |
| Vernal | Synoptic Weather             |
| Dry Fork | Weather Underground          |
| Whiterocks | Synoptic Weather             |
| Roosevelt | Synoptic Weather (?)         |
| Myton | Synoptic Weather             |
| Castle Peak | Campbell Scientific          |

Therefore, the goal of this script is to test and demonstrate obtaining the latest observations and exporting to json to show on the frontend.

In [1]:
import os 
import datetime 

import pandas as pd 

from synoptic.services import stations_latest, stations_metadata, stations_nearesttime

/Users/johnlawson/anaconda3/envs/clyfar/lib/python3.11/site-packages/synoptic/accessors.py:28: UserWarning: map making not available without Brian's cartopy_tools
  warnings.warn("map making not available without Brian's cartopy_tools")

In [2]:
# Create the dataframe for these stations
# We can eventually export to JSON for the frontend 

stations = ['Dinosaur National Monument', 'Red Wash', 'Rangely', 
                'Seven Sisters', 'Horsepool', 'Ouray', 'Vernal', 
                'Dry Fork', 'Whiterocks', 'Roosevelt', 'Myton', 'Castle Peak']

df = pd.DataFrame(stations, columns=['Station Name'])

# This dataframe should be ready for different variables per station
# Columns will have a lot of NaNs as a result

# Use a set datetime for observation values at the height of the recent winter 
valid_dt = datetime.datetime(2024, 1, 15, 12, 0, 0)

In [3]:
# Start with the Synoptic Weather stations
# Create a dictionary for the stations on Synoptic
# Key is the station's natural name, value is the Synoptic/MesoWest stid (station ID)

synoptic_stations = {
    'Dinosaur National Monument': 'A3822',
    'Red Wash': 'A1633',
    'Ouray': 'A1622',
    'Vernal': 'QV4',
    'Whiterocks': 'A1386',
    'Roosevelt': 'QRS',
    'Myton': 'A1388'
}

# Using the synopticpy package, get information on all sensors for each station
md = stations_metadata(
                        # stid="KSLC", 
                        stid=list(synoptic_stations.values()),
                        # verbose="HIDE",
                        )
md

 ðŸššðŸ’¨ Speedy Delivery from Synoptic API [metadata]: https://api.synopticdata.com/v2/stations/metadata?stid=A3822,A1633,A1622,QV4,A1386,QRS,A1388&token=ðŸ™ˆHIDDEN

/Users/johnlawson/anaconda3/envs/clyfar/lib/python3.11/site-packages/synoptic/services.py:525: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors="ignore")

,A1388,A1633,A1622,A1386,QRS,QV4,A3822
ELEVATION,5272.0,5581.0,4813.0,6217.0,5210.0,5466.0,4800.0
ELEV_DEM,5278.9,5584.0,4836.0,6217.2,5196.9,5472.4,4803.1
ID,28961,28962,28963,28964,31845,31847,48223
MNET_ID,136,136,136,136,9,9,136
NAME,Myton,Redwash,Ouray,Whiterocks,Roosevelt,Vernal,Dinosaur National Monument
RECORD_END,2024-09-21 06:00:00+00:00,2024-09-21 06:00:00+00:00,2024-09-21 05:00:00+00:00,2024-09-21 06:00:00+00:00,2024-09-21 06:00:00+00:00,2024-09-21 06:00:00+00:00,2024-09-21 06:00:00+00:00
RECORD_START,2010-09-09 00:00:00+00:00,2010-09-09 00:00:00+00:00,2010-09-09 00:00:00+00:00,2010-09-09 00:00:00+00:00,2012-02-01 00:00:00+00:00,2011-11-01 00:00:00+00:00,2016-01-29 19:47:00+00:00
RESTRICTED,False,False,False,False,False,False,False
STATE,UT,UT,UT,UT,UT,UT,UT
STATUS,ACTIVE,ACTIVE,ACTIVE,ACTIVE,ACTIVE,ACTIVE,ACTIVE
STID,A1388,A1633,A1622,A1386,QRS,QV4,A3822
TIMEZONE,America/Denver,America/Denver,America/Denver,America/Denver,America/Denver,America/Denver,America/Denver
UNITS,"{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}","{'position': 'm', 'elevation': 'ft'}"
latitude,40.2169,40.20443,40.05485,40.4838,40.2943,40.46472,40.4372
longitude,-110.1823,-109.35321,-109.68737,-109.9062,-110.009,-109.56083,-109.3047

In [7]:
latest = stations_nearesttime(
    stid="WBB", attime=valid_dt, within=60, 
    # verbose="HIDE"
)
latest

Checking for data within=60 minutes.

 ðŸššðŸ’¨ Speedy Delivery from Synoptic API [nearesttime]: https://api.synopticdata.com/v2/stations/nearesttime?stid=WBB&attime=202401151200&within=60&token=ðŸ™ˆHIDDEN

ValueError: time data "1.0" doesn't match format "%Y-%m-%dT%H:%M:%S%z", at position 21. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.